In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('KIBA-Table 1.csv', index_col=[0])

In [5]:
df.describe()

,O00141,O00142,O00238,O00311,O00329,O00418,O00443,O00444,O00506,O00750,...,Q07002,Q07912,Q08345,Q08881,Q09013,Q12851,Q12852,Q12866,Q13043,Q13131
count,136.000000,75.000000,75.000000,978.000000,1132.000000,445.000000,7.000000,792.000000,79.000000,86.000000,...,80.000000,527.000000,122.000000,1238.000000,88.000000,949.000000,72.000000,139.000000,84.000000,1032.000000
mean,3.934125,4.091285,3.505149,2.257718,2.515398,3.548702,2.979069,3.130445,3.767354,3.610631,...,3.735834,2.977767,2.430349,2.883615,3.693283,3.249105,3.649784,2.870901,3.511501,3.352202
std,0.752713,1.366507,0.902004,1.214375,1.354916,0.263062,0.911750,0.897904,0.549764,0.818511,...,0.658320,1.105972,1.406217,0.906025,0.633664,0.774609,0.691966,1.273335,0.950005,0.662207
min,1.113943,1.494107,-0.070581,-1.154902,-0.913640,1.899985,1.448706,-0.420216,1.079181,0.863323,...,1.146128,-0.698970,-0.698970,-0.522879,0.544068,0.283692,1.342423,-0.857476,-0.721246,-0.500313
25%,3.973128,2.969365,3.298848,1.397940,1.556303,3.600000,2.622756,2.700002,3.901373,4.000000,...,4.000000,2.200002,1.163485,2.322219,3.774083,2.900001,3.949835,1.987946,3.515868,3.199999
50%,4.000000,4.361728,4.000000,2.869408,2.434557,3.600000,3.045323,3.600000,4.000000,4.000000,...,4.000000,3.600000,2.594605,3.199999,4.000000,3.400001,4.000000,3.380211,4.000000,3.400001
75%,4.518514,5.363343,4.000000,3.100002,3.483922,3.600000,3.556972,3.600000,4.000000,4.000000,...,4.000000,3.600000,4.000000,3.199999,4.000000,3.800000,4.000000,4.000000,4.000000,3.800000
max,5.096910,6.000000,4.060698,6.477121,7.600000,4.301030,4.000000,4.662758,4.000000,4.000000,...,4.000000,5.000000,4.698970,5.000000,4.000000,5.000000,4.000000,4.447158,4.477121,5.000000

In [17]:
df.values.min(axis=1)

array([nan, nan, nan, ..., nan, nan, nan])

In [16]:
df.values.max(axis=1)

array([nan, nan, nan, ..., nan, nan, nan])